body {
   /* background-image : url("../static/images/types-of-doctors-1600114658.jpg"); */
   text-align: center;
}

header h2 {
   font-size: 80px;
   display: inline-block;
   margin-bottom: 0;
}

header img {
   width: 200px;
   border-radius: 10px;
}

header p {
   margin-top: 0;
}

/* nav {
   height: 50px;
   border-radius: 10px;
} */

nav {

   font-size: 1.5em;
   display: flex;
   justify-content: space-between;

}


ul,
li {
   display: inline;
   margin: 0;
   padding: 0;
}

ul {

   flex: 1;
   max-width: 100%;
   display: flex;
   justify-content: space-evenly;

}

a:hover {
   background-color: blueviolet;
   border-radius: 10px;
   text-shadow: rgb(117, 189, 36);
}



/* nav a {
   background-color: rgb(206, 159, 31);
   display: inline-block;
   height: 50px;
   padding-top: 30px;
   text-decoration: none;
   width: 600px;
   border-radius: 20px;
} */

nav button:hover {
   background-color: rgb(117, 189, 36);
}

footer {
   margin-top: 50px;
}

.avatar {
   height: 50px;
}

main form {
   background-color: bisque;
   border-radius: 10px;
   margin-top: 50px;
   margin-left: 150px;
   padding: 20px;
   width: 80%;
}

.forgot-password {
   background-color: #ffffff;
   padding: 10px;
}