body{
    background-color :rgb(224, 17, 17);
}

.hone{
    background-color: blue;
    font-size: 22px;
}
.hhh{
    
    width :200;
    height: 200px;

}

.htwo{
    background-color: yellow;
    font-size: 20px;
}

.hthree{
    background-color: green;
    font-size: 18px;
}
a{
    color: green;
}
a:visited{
    color: white;
}
a:hover, a:active{
    color:#eee;}

table,tr, th,td, caption{
    border: 1px solid #eee;
    font-family:'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}