.h1 {
    background-color: #4CAF50;
    text-align: center;
}

.button {
    background-color: blue;
    font-size: 30px;
}

.button:hover {
    background-color: #4CAF50;
}

body {
    background-image: url('Image.jpeg');
}

.text {
    font-size: 12px;
}

.txtbox {
    height: 42px;
    width: 300px;
    padding: 1000;
}

table,
tr,
th,
td,
caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}