<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddPatient</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'add_doc_and_pat.css' %}">

</head>
<body >


    <form action="save_doctor" method="post">
      {% csrf_token %}
        <p>
          <fieldset>
            <p>
              <label for="institution">Institution </label>
              <input id="institution" name="institution" type="text" value="{{clinic.clinic_name}}" disabled>
            </p>
            <p>
              <label for="firstname">First Name </label>
              </p>
            <p> 
              <input id="firstname" name="fname" type="text" required>
            </p>

            <p>
              <label for="lastname">Last Name </label> 
            </p>
             <p>
               <input id="lastname" name="lname" type="text" required>
            </p>

            <p>
                <label for="IDnumber">ID Number</label>
                </p>
                <p>
                <input type="id" id="IDnumber" name="id">
              </p>


              <p>
                <label for="RegistrationNumber">Doctor Registration Number</label>
              </p>
              <p>
                <input type="number" id="RegistrationNumber" name="reg_id"> 
              </p>
            <p>
              <label>
                Speciality
              <br />
              <select name="specializationList">
                      <option>--None--</option>
                <option>General practitioner</option>
                <option>obstetrician and gynaecologist</option>
                <option>Psychiatrist</option>
                <option>Dentist</option>
                <option>General surgeon</option>
                <option>Dermatologist</option>
                      
              </select>
              </label>
            </p>
    
            <p>
              <input type="submit" value="Add Doctor">
            </p>
          </fieldset>
        </p>
      </form>
      
    
</body>
</html>