<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>Document</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'admin.css' %}">
   <link rel="stylesheet" href="{% static 'login.css' %}">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
   <div class="uni-card container">
      <header>
         <img class="pic logo-img" src="{% static 'images/logo.png' %}" alt="Company Logo" srcset="">
         <h2>Medlyft</h2>
         <p>This is where the trademark will be</p>
      </header>
      <h1>Welcome to Sweden, {{clinic.clinic_name}}</h1>
      <br>
      <br>
      <nav>
         <ul>
   
         <li><a href="/medlyft/registration" class="register btn std-btn-blue">REGISTER</a></li> 
   
         <li><a href="/medlyft/add-doctor" class="register btn std-btn-blue" name="add_doctor" value="{{clinic.clinic_name}}">Add Doctor</a></li>
       
         <li><a href="/medlyft/add-patient" class="register btn std-btn-blue">Add Patient</a></li>
         </ul>
      </nav>
   </div>



   <footer>
      Copyright &copy; 2022, Synigency, Inc. All
   </footer>
</body>
</html>
