<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'doctorsPage.css' %}">

    
</head>
<body>

    <h1>Doctor </h1>

    <div class="imgcontainer">
        <img class="avatar" src="{% static 'images/IMG_0150.jpg' %}" alt="Avatar">
      </div>


    <ul>
        <li><aside>
            <details>

                <summary style="color:red ">View Patients </summary>
                    <p>Hlulani</p>
                    <p>Xolani</p>
                    <p>Anelisa</p>
                    <p>Hope</p>
                    <p>Boitumelo</p>
                    <p>Brian</p>
                    <p>Vanessa</p>
                    <p>Tshegofatso</p>
                    <p>Mpumelelo</p>
            


            </details>
        </aside> </li>


        <li><aside>
            <details>

                <summary style="color:red ">View profile </summary>
                <div class="div1">
                    <div class="imgcontainer">
                        <img class="avatar" src="{% static 'images/IMG_0150.jpg' %}" alt="Avatar">
                      </div>
                    <p>Clifton Ngobeni</p>
                    <p>0102105478124</p>
                    <p>hlulani@gmail.com</p>
                    <p>078 565 1234</p>
                    <p>male</p>
                    <p>black</p>
                    <p>soshanguve 0152 1134 f-west</p>
                    <p></p>
                </div>
            


            </details>
        </aside> </li>

    </ul>
</body>
</html>