<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% load static %}
   <link rel="stylesheet" href="{% static 'home.css' %}">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
   <title>Home</title>
</head>
<body class="container">

   <br>
   <div class="uni-card container">
      <header>
         <!-- <img src="{% static 'images/SynigencyLogo.png' %}" alt="Company Logo" srcset="">-->
         <h2>Medlyft</h2>
         <p>This is where the trademark will be</p>
      </header>
      
      <br><br>

      <nav>
         <ul style="margin: auto;">   
            <li><a href="/medlyft/login" class="btn std-btn-blue">Login</a></li>
            <li><a href="/medlyft/registration_register" class="btn std-btn-blue">Register</a></li> 
         </ul> 
      </nav>
      <br>
      <footer>
         Copyright &copy; 2022, Synigency, Inc. All
      </footer>
      <br>
   </div>


</body>
</html>