<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% load static %}
   <link rel="stylesheet" href="{% static 'home.css' %}">
   <title>Home</title>
</head>
<body>
   <header>
      <img src="{% static 'images/SynigencyLogo.png' %}" alt="Company Logo" srcset="">
      <h2>Medlyft</h2>
      <p>This is where the trademark will be</p>
   </header>

   <nav>
      <a href="/medlyft/login" class="login">LOGIN</a>
      <a href="/medlyft/registration" class="register">REGISTER</a>
   </nav>

   <main>
      
   </main>

   <footer>
      Copyright &copy; 2022, Synigency, Inc. All
   </footer>
</body>
</html>
