<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>USER LOG IN</title>
  {% load static %}
   <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>
  <header>
    <img class="pic" src="{% static 'images/SynigencyLogo.png' %}" alt="Company Logo" srcset="">
    <h2>Medlyft</h2>
    <p>This is where the trademark will be</p>
  </header>


  {% comment %} <div class="imgcontainer">
    <img class="avatar" src="{% static 'images/image.png' %}" alt="Avatar">
  </div> {% endcomment %}
<nav>
  <ul>
    
  <li><a href="/medlyft/loginpatient" class="loginpatient">Patient login page</a></li>
  <li><a href="/medlyft/logindoctor" class="logindoctor">Doctor login page</a></li>

  </ul>
</nav>

  <footer>
    Copyright &copy; 2022, Synigency, Inc. All
  </footer>
</body>
</html>