<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'patientPage.css' %}">
</head>
<body>
    <h1>Patient </h1>

     


    
        <ul>
        <li><aside>
            <details>

                <summary style="color:red ">View Delivery Status </summary>
                <div class="div1">
                    Shipping Date: 20-10-2022 10:00SAT
                </div>
            
                <br>
            
                <div class="div2">
                    Colection Date: 20-10-2022 11:00SAT
                </div>
            


            </details>
        </aside> </li>


        <li><aside>
            <details>

                <summary style="color:red ">View Delivery History </summary>
                <div class="div1">
                    Shipped Date: 20-08-2022 10:00SAT
                </div>
            
                <br>
            
                <div class="div2">
                    Collected Date: 10-09-2022 11:00SAT
                </div>
            


            </details>
        </aside> </li>


        <li><aside>
            <details>

                <summary style="color:red ">View profile </summary>
                <div class="div1">
                    <div class="imgcontainer">
                        <img class="avatar" src="{% static 'images/IMG_0150.jpg' %}" alt="Avatar">
                      </div>
                    <p>Hlulani Clifton Ngobeni</p>
                    <p>0102105478124</p>
                    <p>hlulani@gmail.com</p>
                    <p>078 565 1234</p>
                    <p>male</p>
                    <p>black</p>
                    <p>soshanguve 0152 1134 f-west</p>
                    <p></p>
                </div>
            


            </details>
        </aside> </li>

    </ul>
</body>
</html>